{% load static %}
{% block content %}
<div class="container-fluid footer">
    <div class="container">
        <div class="col-md-12 footer-div">
            <div class="col-md-4 footer1">
                <img src="{%static 'discy/img/logo-footer.png' %}"/>
                <p>Discy is a social questions & Answers Engine which will help you establis your community and connect
                    with other people.</p>
            </div>
            <div class="col-md-4 footer2">
                <h4>About us</h4>
                <ul>
                    <li>
                        <a href="#">
                            <h5>Meet the team</h5>
                        </a>
                        <a href="#">
                            <h5>Contact us </h5>
                        </a>
                        <a href="#">
                            <h5>About us</h5>
                        </a>
                    </li>
                </ul>
            </div>
            <!---Links--->
            <div class="col-md-4 footer3">
                <h4>Follow</h4>
                <ul>
                    <li>
                        <a href="#">
                            <img src="{%static 'discy/img/ficon.png' %}"/>
                        </a>
                        <a href="#">
                            <img src="{%static 'discy/img/insta.png' %}"/>
                        </a>
                        <a href="#">
                            <img src="{%static 'discy/img/twitter.png' %}"/>
                        </a>
                        <a href="#">
                            <img src="{%static 'discy/img/linkedin.png' %}"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}