{% load static %}
{% block content %}

    <nav class="navbar navbar-inverse header">
        <div class="container-fluid  padding0">
            <div class="col-md-12 padding-xs-0">
                <div class="col-md-3 col-sm-2 col-xs-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#">
                            <img class="img-responsive logo-image" src="{% static 'discy/img/logo.png' %}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-10 col-xs-12">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <div class="col-sm-9 col-xs-12">
                            <ul class="nav navbar-nav">
                                <li class="active homepadd"><a href="{% url 'discy:index' %}">Home</a></li>
                                <li class="homepadd"><a href="#">About Us</a></li>
                                <li class="homepadd1">
                                    <form method="get" action="{% url 'discy:search'%}" class="side-div">
                                        <input class="form-control" id="query" name="query" placeholder="Type of Search.."
                                               type="search">
                                        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </li>
                            </ul>
                        </div>

                    {% if user.is_authenticated %}
                        <div class="col-md-1 padding0">
                        <h3>@{{ user.get_full_name }}</h3>
                            <button class="btn btn-info btn-lg btn-insign"
                                    type="button"><a href="{% url 'discy:signout' %}">Logout</a>
                            </button>
                        </div>
                    {% else %}
                        <div class="col-md-1 padding0">
                            <button class="btn btn-info btn-lg btn-insign" data-target="#signin" data-toggle="modal"
                                    type="button">Sign in
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-info btn-lg btn-upsign" data-target="#signup" data-toggle="modal"
                                    type="button">Sign up
                            </button>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <!-- Sign In Modal -->
    <div class="modal fade model-insign" id="signin" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close active" data-dismiss="modal" type="button">&times;</button>
                    <h4>Sign in</h4>
                    <p>Login to our social questions & Answers Engine to ask questions answer
                        people’s questions & connect with other people.</p>
                </div>

                <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-5 col-xs-5 col-sm-5 modeldiv">
                            <button type="button">sign up here</button>
                        </div>
                        <div class="col-md-7 col-xs-7 col-sm-7 username">
                            <form action="{% url 'discy:signin' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="usr">Username:</label>
                                    <input class="form-control user-xs" name="email" id="usr" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password:</label>
                                    <input class="form-control" id="pwd" name="password" type="password">
                                </div>
                                <div class="col-md-12 padding0">
                                    <div class="col-md-6 padding0">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="">Remember Me!</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 forget-password padding0">
                                        <a href="#">
                                            <h6>Forget Your Password? </h6>
                                        </a>
                                    </div>
                                </div>
                                <button class="inlog">Log In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign Up Modal -->
    <div class="modal fade model-upsign" id="signup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content content-padd">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4>Sign up</h4>
                    <p>Login to our social questions & Answers Engine to ask questions answer people’s
                        questions & connect with other people.</p>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="col-md-5 col-xs-5 col-sm-5 upsign-div">
                            <button class="btn">Have an account? Sign in</button>
                        </div>
                        <div class="col-md-7 col-xs-12 col-sm-12 upsign-userdiv">
                            <form action="{% url 'discy:signup' %}" method="post"  enctype="multipart/form-data">
                                {% csrf_token %}
{#                                <div class="form-group">#}
{#                                    <label for="user">Username:</label>#}
{#                                    <input class="form-control" name="username" id="user" type="text">#}
{#                                </div>#}
                                <div class="form-group">
                                    <label for="password">First name:</label>
                                    <input class="form-control" name="first_name" id="name" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="password">Last name:</label>
                                    <input class="form-control" name="last_name" id="" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail:</label>
                                    <input class="form-control" name="email" id="email" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input class="form-control" name="password" id="password" type="password">
                                </div>
                                <div class="form-group">
                                    <label for="password">Confirm Password:</label>
                                    <input class="form-control" name="confirm_password" id="confirm_password"
                                           type="password">
                                </div>
{#                                <div class="form-group">#}
{#                                    <label for="birthday">Date of birth:</label>#}
{#                                    <input type="date" id="birthday" name="date_of_birth">#}
{#                                </div>#}
{#                                <div>#}
{#                                    <label for="img">Select image:</label>#}
{#                                    <input type="file" id="img" name="image" accept="image/jpeg">#}
{#                                </div>#}
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">I agree with the T&C</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}