{% extends 'discy/base.html'%}
{% load static %}
{% block content %}
<div class="container-fluid nav-div main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--side-bar-->
                <div class="col-md-2 nav-home">
                    <ul>
                        <li class="active">
                            <a href="#">
                                <h5><i class="fa fa-home"></i> Home {{ user.get_full_name }}</h5>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-book"></i>
                                Question</a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i aria-hidden="true" class="fa fa-quora"></i>New Questions</a></li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-quora"></i>Tranding Questions</a>
                                </li>
                                <li><a href="#"><i aria-hidden="true" class="fa fa-quora"></i>Most read Questions</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!---top questions--->
                    <div class="col-md-12 padding0">
                        <div class="col-md-12 top-div">
                            <h4>Top Questions</h4>
                        </div>
                        <div class="col-md-12 top2-div">
                            {% for i in questions %}
                            <div class="col-md-12 top1-div">
                                <h5>{{i.question_text}}</h5>
                                <a href="#"> <i aria-hidden="true" class="fa fa-commenting"></i>4 Answers</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!---middle-tab--->
                <div class="col-md-7 middle-table">
                    <ul class="nav nav-tabs nav-middle">
                        <li class="active">
                            <a data-toggle="tab" href="#recent_questions">Recent Questions</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#most_answered">Most Answered</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#questions">Questions bump</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#answer">Answers</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#most_visited">Most Visited</a>
                        </li>
                    </ul>
                    <!--tab-content-->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="recent_questions">
                            {% for i in recent_question %}
                            <div class="col-md-12 tabcontent-div">
                                <div class="col-md-2 padding0 tab-text dropdown">
                                    <a class="dropbtn" href="#">
                                        <img class="img-responsive" alt="author-img" src="{{ i.user.image.url }}"/>
                                    </a>
                                    <div class="dropdown-content">
                                        <div class="col-md-12 dropdown-image">
                                            <a>
                                                <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                            </a>
                                        </div>
                                        <div class="col-md-12 dropdown-name">
                                            <h6>{{ i.get_full_name }}</h6>
                                            <ul>
                                                <li>
                                                    <img class="img-responsive" src="{%static 'discy/img/placeholder.svg' %}"/>
                                                    <p>Gurgaon ,Haryana</p>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-12 dropdown-text">
                                            <a href="#"><i aria-hidden="true" class="fa fa-question-circle"></i>3
                                                Questions</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-commenting"></i>12
                                                Answers</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-eye"></i>146 Points</a>
                                        </div>

                                    </div>
                                </div>

                                <!---author-details-->
                                {% for a in recent_answer %}
                                <div class="col-md-10 padding0">
                                    <div class="col-md-12 author-details">
                                        <h5>{{i.first_name}} {{i.last_name}}</h5>
                                        <p>Asked:{{i.pub_date }}</p>
                                    </div>
                                    <div class="col-md-12 author-quote">
                                        <a href="#"><h4>{{i.question_text}}</h4></a>
                                    </div>

                                            {% if a.question_id.id == i.id %}
                                    <div class="col-md-12 padding0">

                                        <p class="author-para">{{ a.answer_text }}</p>

                                    </div>
                                        {% endif %}

                                    <div class="col-md-12 padding0">
                                        <button class="author-button">English</button>
                                        <button class="author-button">Language</button>
                                    </div>
                                </div>
                                            {% endfor %}

                                <div class="col-md-12 answer-sec">
                                        <a href="#"> <i aria-hidden="true" class="fa fa-commenting"></i> 4 Answer</a>
                                        <a href="#"><i aria-hidden="true" class="fa fa-eye"></i>1k Views</a>
                                        <button><a href="#comment" >Answer</a></button>
                                    </div>
                                    <div class="col-md-12 answer1-sec">
                                        <a href="#"><i aria-hidden="true" class="fa fa-arrow-circle-up"></i> Upvote
                                            :1.5k</a>
                                        <a class="answer2-sec" href="#"><i aria-hidden="true"
                                                                           class="fa fa-arrow-circle-down"></i><i
                                                aria-hidden="true" class="fa fa-ellipsis-h"></i></a>
                                    </div>
                                <!---answer-highlight-->
                                <div class="col-md-12 col-xs-12">

                                    {% for answer in answers %}
                                        {% if answer.question_id.id == i.id %}
                                    <div class="row ans1-added">
                                        <div class="col-md-12 answer-highlight ans-added">
                                            <div class="col-md-12 addcomment1">
                                                <a href="#"><img src="{{ answer.user.image.url }}"/>{{answer.user.first_name}} {{answer.user.last_name}}</a>
                                            </div>
                                            <div class="col-xs-12 padding0">
                                                <p>{{answer.answer_text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                        {% endif %}
                                        {% endfor %}
                                </div>
                                        <!-add-answer-->
                                        <div class="col-md-12 addcomment">
                                            <div class="col-md-12 addcomment1 padding0">
                                                <h5><img src="{{ user.image.url }}"/>{{user.first_name}} {{user.last_name}}</h5>
                                            </div>
                                            <form action="{% url 'discy:postanswer' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="question_id" id="user" value={{ i.id}}>
                                                <input type="hidden" name="user" id="user" value={{ user.id }}>
                                                <div class="form-group ">
                                                    <textarea class="form-control text" id="comment" name="answer_text" rows="5"></textarea>
                                                </div>
                                                <div class="col-md-12 addcomment2">
                                                    <button type="submit">Submit</button>
                                                    <a href="#"><h5>Save Draft</h5></a>
                                                </div>
                                            </form>

                                        </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade in" id="most_answered">
                             {% for i in questions %}
                            <div class="col-md-12 tabcontent-div">
                                <div class="col-md-2 padding0 tab-text dropdown">
                                    <a class="dropbtn" href="#">
                                        <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                    </a>
                                    <div class="dropdown-content">
                                        <div class="col-md-12 dropdown-image">
                                            <a>
                                                <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                            </a>
                                        </div>
                                        <div class="col-md-12 dropdown-name">
                                            <h6>{{i.first_name}} {{i.last_name}}</h6>
                                            <ul>
                                                <li>
                                                    <img class="img-responsive" src="{%static 'discy/img/placeholder.svg' %}"/>
                                                    <p>Gurgaon ,Haryana</p>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-12 dropdown-text">
                                            <a href="#"><i aria-hidden="true" class="fa fa-question-circle"></i>3
                                                Questions</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-commenting"></i>12
                                                Answers</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-eye"></i>146 Points</a>
                                        </div>

                                    </div>
                                </div>
                                <!---author-details-->
                                <div class="col-md-10 padding0">
                                    <div class="col-md-12 author-details">
                                        <h5>{{i.first_name}} {{i.last_name}}</h5>
                                        <p>Asked:{{i.pub_date}}</p>
                                    </div>
                                    <div class="col-md-12 author-quote">
                                        <a href="#"><h4>{{i.question_text}}</h4></a>
                                    </div>
                                    <div class="col-md-12 padding0">
                                        <p class="author-para">In my local language (Bahasa Indonesia) there are no
                                            verb-2 or past tense form as time tracker. So, I often forget to use the
                                            past form of verb when speaking english. I saw him last night (correct) I
                                            see him last night ...</p>
                                    </div>
                                    <div class="col-md-12 padding0">
                                        <button class="author-button">English</button>
                                        <button class="author-button">Language</button>
                                    </div>
                                </div>

                                    <div class="col-md-12 answer-sec">
                                        <a href="#"> <i aria-hidden="true" class="fa fa-commenting"></i>4 Answer</a>
                                        <a href="#"> <i aria-hidden="true" class="fa fa-eye"></i>1k Views</a>
                                        <button>Answer</button>
                                    </div>
                            </div>
                            {% endfor %}
                            <!----second-que-->
                        </div>
                        <div class="tab-pane fade in " id="questions">
                            {% for i in questions %}
                            <div class="col-md-12 tabcontent-div">
                                <div class="col-md-2 padding0 tab-text dropdown">
                                    <a class="dropbtn" href="#">
                                        <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                    </a>
                                    <div class="dropdown-content">
                                        <div class="col-md-12 dropdown-image">
                                            <a>
                                                <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                            </a>
                                        </div>
                                        <div class="col-md-12 dropdown-name">
                                            <h6>{{i.first_name}} {{i.last_name}}</h6>
                                            <ul>
                                                <li>
                                                    <img class="img-responsive" src="{%static 'discy/img/placeholder.svg' %}"/>
                                                    <p>Gurgaon ,Haryana</p>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-12 dropdown-text">
                                            <a href="#"><i aria-hidden="true" class="fa fa-question-circle"></i>3
                                                Questions</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-commenting"></i>12
                                                Answers</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-eye"></i>146 Points</a>
                                        </div>

                                    </div>
                                </div>
                                <!---author-details-->
                                <div class="col-md-10 padding0">
                                    <div class="col-md-12 author-details">
                                        <h5>{{i.first_name}} {{i.last_name}}</h5>
                                        <p>Asked:{{i.pub_date}}</p>
                                    </div>
                                    <div class="col-md-12 author-quote">
                                        <a href="#"><h4>{{i.question_text}}</h4></a>
                                    </div>
                                    <div class="col-md-12 padding0">
                                        <p class="author-para">In my local language (Bahasa Indonesia) there are no
                                            verb-2 or past tense form as time tracker. So, I often forget to use the
                                            past form of verb when speaking english. I saw him last night (correct) I
                                            see him last night ...</p>
                                    </div>
                                    <div class="col-md-12 padding0">
                                        <button class="author-button">English</button>
                                        <button class="author-button">Language</button>
                                    </div>
                                    <div class="col-md-12 answer-sec">
                                        <a href="#"> <i aria-hidden="true" class="fa fa-commenting"></i> 4 Answer</a>
                                        <a href="#"><i aria-hidden="true" class="fa fa-eye"></i>1k Views</a>
                                        <button>Answer</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade in" id="answer">
                            {% for i in questions %}
                            <div class="col-md-12 tabcontent-div">
                                <div class="col-md-2 padding0 tab-text dropdown">
                                    <a class="dropbtn" href="#">
                                        <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                    </a>
                                    <div class="dropdown-content">
                                        <div class="col-md-12 dropdown-image">
                                            <a>
                                                <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                            </a>
                                        </div>
                                        <div class="col-md-12 dropdown-name">
                                            <h6>{{i.first_name}} {{i.last_name}}</h6>
                                            <ul>
                                                <li>
                                                    <img class="img-responsive" src="{%static 'discy/img/placeholder.svg' %}"/>
                                                    <p>Gurgaon ,Haryana</p>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-12 dropdown-text">
                                            <a href="#"><i aria-hidden="true" class="fa fa-question-circle"></i>3
                                                Questions</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-commenting"></i>12
                                                Answers</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-eye"></i>146 Points</a>
                                        </div>

                                    </div>
                                </div>
                                <!---author-details-->
                                <div class="col-md-10 padding0">
                                    <div class="col-md-12 author-details">
                                        <h5>{{i.first_name}} {{i.last_name}}</h5>
                                        <p>Asked:{{i.pub_date}}</p>
                                    </div>
                                    <div class="col-md-12 author-quote">
                                        <a href="#"><h4>{{i.question_text}}</h4></a>
                                    </div>
                                    <div class="col-md-12 padding0">
                                        <p class="author-para">In my local language (Bahasa Indonesia) there are no
                                            verb-2 or past tense form as time tracker. So, I often forget to use the
                                            past form of verb when speaking english. I saw him last night (correct) I
                                            see him last night ...</p>
                                    </div>
                                    <div class="col-md-12 padding0">
                                        <button class="author-button">English</button>
                                        <button class="author-button">Language</button>
                                    </div>
                                    <div class="col-md-12 answer-sec">
                                        <a href="#"> <i aria-hidden="true" class="fa fa-commenting"></i>4 Answer</a>
                                        <a href="#"> <i aria-hidden="true" class="fa fa-eye"></i>1k Views</a>
                                        <button>Answer</button>
                                    </div>
                                </div>
                            </div>
                              {% endfor %}
                            <!----second-que-->
                        </div>
                        <div class="tab-pane fade in" id="most_visited">
                             {% for i in questions %}
                                 <div class="modal ask-modal fade" id="ask_a_question" role="dialog">
                            <div class="modal-dialog askque">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header ask-head">
                                         <div class="col-md-10 col-sm-10 col-xs-10 edit-question">
                                                <h2>Edit Questions</h2>
                                                <p>How Likely are you to recommend our product...</p>
                                            </div>
                                        <h4 class="modal-title">
                                        </h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="col-md-12 col-sm-12 col-xs-12 body-main">
                                            <div class="col-md-5 col-sm-5 col-xs-5 main-image">
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-xs-7">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group question-type">
                                                    <label>Question Type:</label>
                                                    <select>
                                                        <option>New source recommend.... </option>
                                                        <option>to get the best answer</option>
                                                        <option>And whom can be the best</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group how-likely">
                                                    <label>Title:</label>
                                                    <input type="text" placeholder="How Likely are you to recommend our product in red handed...."/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group how-likely">
                                                    <label> SubTitle:</label>
                                                    <input type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-xs-12 button-div">
                                                <button>Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="col-md-12 tabcontent-div">
                                <div class="col-md-2 padding0 tab-text dropdown">
                                    <a class="dropbtn" href="#">
                                        <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                    </a>
                                    <div class="dropdown-content">
                                        <div class="col-md-12 dropdown-image">
                                            <a>
                                                <img class="img-responsive" src="{{ i.user.image.url }}"/>
                                            </a>
                                        </div>
                                        <div class="col-md-12 dropdown-name">
                                            <h6>{{i.first_name}} {{i.last_name}}</h6>
                                            <ul>
                                                <li>
                                                    <img class="img-responsive" src="{%static 'discy/img/placeholder.svg' %}"/>
                                                    <p>Gurgaon ,Haryana</p>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-12 dropdown-text">
                                            <a href="#"><i aria-hidden="true" class="fa fa-question-circle"></i>3
                                                Questions</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-commenting"></i>12
                                                Answers</a>
                                            <a href="#"><i aria-hidden="true" class="fa fa-eye"></i>146 Points</a>
                                        </div>

                                    </div>
                                </div>
                                <!---author-details-->
                                <div class="col-md-10 padding0">
                                    <div class="col-md-12 author-details">
                                        <h5>{{i.first_name}} {{i.last_name}}</h5>
                                        <p>Asked:{{i.pub_date}}</p>
                                    </div>
                                    <div class="col-md-12 author-quote">
                                        <a href="#"><h4></h4></a>
                                    </div>
                                    <div class="col-md-12 padding0">
                                        <p class="author-para">In my local language (Bahasa Indonesia) there are no
                                            verb-2 or past tense form as time tracker. So, I often forget to use the
                                            past form of verb when speaking english. I saw him last night (correct) I
                                            see him last night ...</p>
                                    </div>
                                    <div class="col-md-12 padding0">
                                        <button class="author-button">English</button>
                                        <button class="author-button">Language</button>
                                    </div>

                                    <div class="col-md-12 answer-sec">
                                        <a href="#"> <i aria-hidden="true" class="fa fa-commenting"></i>4 Answer</a>
                                        <a href="#"> <i aria-hidden="true" class="fa fa-eye"></i>1k Views</a>
                                        <button>Answer</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!---Ask a Question--->
                <div class="col-md-3 col-xs-12 col-sm-12 aska-div">
                    <div class="col-md-12  col-xs-12 col-sm-12 ask-question">
                        <button class="btn btn-info btn-lg btn-insign1" data-target="#ask_a_question1" data-toggle="modal"
                                 {% if user.is_authenticated %}
                                    type="button"><a href="{% url 'discy:index1' %}">Ask A Question</a>
                                 {% else %}
                                    type="button"><a href="{% url 'discy:index' %}">Ask A Question</a>
                                 {% endif %}
                        </button>
                    </div>
                    <!--related questions--->
                    <div class="col-md-12 related-que2">
                        <h5>Related Questions</h5>
                        <div class="row related-member">
                            <div class="col-md-12  padding0">
                                {% for i in questions %}
                                <div class="col-md-12 related-que1">
                                    <div class="col-md-2 related-que">
                                        <img src="{{ i.user.image.url }}">
                                    </div>
                                    <div class="col-md-10 related-question">
                                        <h5>{{i.question_text}}?</h5>
                                        <a href="#"><i aria-hidden="true" class="fa fa-commenting"></i>4 Answers</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                            <!--top members-->
                            <div class="col-md-12 top-members">
                                <h5><img src="{%static 'discy/img/add-contacts.svg' %}">Top Members</h5>
                                <div class="row top-member-row">
                                     {% for i in questions %}
                                        <div class="col-md-12 top-div">
                                            <div class="col-md-2 padding0 top-members1">
                                                <a href="#"> <img class="img-responsive" src="{{ i.user.image.url }}"/></a>
                                            </div>
                                            <div class="col-md-8 top-members2">
                                                <a href="#">
                                                    <h4><i aria-hidden="true" class="fa fa-user"></i>{{i.first_name}} {{i.last_name}}</h4>
                                                    <h5><i aria-hidden="true" class="fa fa-question-circle"></i>4 Questions</h5>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

